.button {
    width: 185px;
    height: 56px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: none;
    text-transform: uppercase;
    cursor: pointer;
    &_green{
        border-color: green;
        color: green;
    }
}