* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

.container {
    width: 955px;
    margin: 0 auto;
}
/*Header*/


.header__top {
    display: flex;
    margin-left: 164px;
    justify-content: space-between;
    align-items: center;
}

.header__top .header__brand {
    display: flex;
    width: 160px;
    height: 45px;
    cursor: pointer;
}

.header__brand .header__name {
    align-self: center;
    font-size: 40px;
    font-weight: 400;
    color: #4b5b6a;
    margin-bottom: 10px;
    margin-left: 5px;
}

.header__top .header__navs {
    display: flex;
}

.header__navs .header__list {
    display: flex;
    align-items: center;
}

.header__list .header__item {
    margin-right: 18px;
}

.header__item a {
    text-transform: uppercase;
    color: #96a6a7;
    font-size: 18px;
    font-weight: 500;
}

.header__navs .header__search {
    width: 74px;
    height: 74px;
    background-color: #e2dee0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__navs .header__login {
    width: 317px;
    height: 74px;
    background-color: #e94e38;
    display: flex;
    align-items: center;
    padding-left: 40px;
    cursor: pointer;
}

.header__navs .header__login  span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 14px;

}

/*Block search*/

.header__block-search {
    background: linear-gradient(to top, rgba(0,0,0, 0.5),rgba(0,0,0, 0.5)),
     url('../img/bg1.png') center center/cover no-repeat;
}
.header__overlay {
    background: url("../img/rec.png") center center/cover no-repeat;
    height: 350px;
    padding-top: 58px;
}
.header__block-search .container-form {
    width: 500px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.header__form-searh .title {
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
}

.header__form-searh .header__box-form {
    margin-top: 33px;
    display: flex;
    flex-wrap: wrap;
}

.header__box-form .header__select {
    position: relative;
}

.header__box-form .header__select:first-child {
    margin-right: 29px;
}

.header__select::after {
    content: url("../icon/arrow.png");
    position: absolute;
    top: 15px;
    right: 24px;
}

.select {
    display: block;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    width: 220px;
    height: 50px;
    padding-left: 30px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
 
.header__box-form .header__input {
    margin-top: 23px;
    width: 450px;
    height: 55px;
    background:  rgba(255, 255, 255, 0.2);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
}
.header__input::-webkit-input-placeholder {
    color: #ffffff;
}

.header__form-searh .header__button {
    margin-top: 54px;
}
.header__btn {
    text-align: center;
}


.button {
    width: 140px;
    height: 60px;
    border: 0;
    outline: none;
    background-color: #e94e38;
    border-radius: 30px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}


/*block filters*/
.header__filters-block {
    display: flex;
    justify-content: space-between;
    padding: 13px 150px;
    border-bottom: 1px solid #e9e6e7;
    padding-left: 110px;
}

.header__filters-block .header__popular {
    padding-top: 10px;
}

.header__popular .header__elem {
    margin-right: 25px;
    color: #96a6a7;
    font-size: 17px;
    font-weight: 500;
}
.header__popular .header__elem:last-child {
    margin-right: 0;
}

.header__popular .header__elem:first-child {
    color: #e94e38;
}
.header__box-map {
    display: flex;
}

.header__box-map  .filter__select .select {
    border: 1px solid #96a6a7;
    background-color: #ffffff;
    color: red;
    width: 120px;
    height: 35px;
}

.header__box-map  .filter__select {
    position: relative;
    margin-right: 10px;
}

.header__box-map  .filter__select::after {
    content: url("../icon/arr2.png");
    position: absolute;
    top: 8px;
    right: 12px;
}

.header__box-map .header__map {
    width: 120px;
    height: 35px;
    border: 1px solid #1baf5d;
    background-color: #1baf5d;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    position: relative;
    font-size: 13px;
    padding-left: 20px;
}
.header__box-map .header__map::before {
    content: url("../icon/map.png");
    position: absolute;
    right: 20px;
}

.header__filters {
    display: flex;
}

.header__filters .header__filter {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.header__filters .header__filter:nth-child(2) {
    background-color: green;
}

.header__filters .header__filter:nth-child(3), 
.header__filters .header__filter:nth-child(4) {
    background-color: #b6c0c1;
}

.header__filters .header__filter:nth-child(5) {
    background: #f19e1f;
}

.header__filters .header__filter:nth-child(6) {
    background: #88499c;
    margin-right: 0;
}

.header__filters  .header__filter-name {
    margin-top: 10px;
    margin-right: 10px;
    color: #96a6a7;
    font-size: 13px;
    font-weight: 500;
}


/*content*/
.cards__row {
    display: flex;
    margin-top: 45px;
}
.cards__row .cards__column {
    width: 210px;
    height: 266px;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    margin-right: 36px;
}
.cards__row .cards__column:nth-child(4) {
    margin-right: 0;
}

.cards__column .cards__photo {
    background: url("../img/Layer_6.png") center center/cover no-repeat;
    height: 200px;
    border-bottom: 3px solid #1baf5d;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.cards__column .cards__photo::before {
    content: url("../icon/home.png");
    width: 55px;
    height: 55px;
    border: 3px solid #ffffff;
    background-color: #1baf5d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    bottom: -33px;
    left: 77px;
    position: absolute;
}

.cards__photo .cards__price {
    width: 65px;
    height: 25px;
    background-color: #1baf5d;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}

.cards__column .cards__info {
    padding: 33px 16px 14px 15px;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    height: 126px;
}

.cards__info .cards__descr {
    color: #566375;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.cards__info  .cards__name {
    color: #1baf5d;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 18px;
}

.cards__stars {
   text-align: center;
}

/*вторая коолонка 1 строки*/
.cards__photo.cards__photo_bg1  {
    background: url('../img/Layer_7.png');
    border-color: #f19e1f;
}

.cards__photo.cards__photo_bg1::before {
    content: url("../icon/music.png");
    background: #f19e1f;
}

.cards__name.cards__name_color1 {
    color: #f19e1f;
}

/*3 колонка*/
.cards__column .cards__photo.cards__photo_bg2
{
    background: linear-gradient(to top, rgba(136, 73, 156,.7), rgba(136, 73, 156,.7)), url('../img/Layer_6.png') center center/cover no-repeat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-color: #88499c;
}


.cards__column .cards__photo.cards__photo_bg2::before {
    content: url("../icon/bus.png");
    background: #88499c;
}
.cards__column .cards__photo .cards__show {
    width: 137px;
    height: 31px;
    border: 2px solid #ffffff;
    background-color: #88499c;
    color: #fff;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

 .cards__photo  .cards__photo_wrapper .cards__messa {
    width: 137px;
    height: 28px;
    margin-top: 22px;
}

.cards__column .cards__photo .cards__messa img:nth-child(1) {
    margin-right: 10px;
}

.cards__column .cards__info  .cards__name.cards__name_color2 {
    color: #88499c;
}


.cards__photo.cards__photo_bg2n {
    background:  url('../img/Layer_6.png') center center/cover no-repeat;
    border-color: #88499c;
}
.cards__column .cards__photo.cards__photo_bg2n::before {
    content: url("../icon/bus.png");
    background: #88499c;
}



/*4 колонка*/
.cards__column .cards__photo.cards__photo_bg3
{
    background:   url('../img/Layer_8.png') center center/cover no-repeat;
}


/*big colonki*/

.cards__row .cards__column-big {
    width: 455px;
    height: 270px;
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}

.cards__row .cards__column-big:nth-of-type(2) {
    margin-right: 0;
}

.cards__column-big .cards__img-block {
    background: url("../img/Layer_9.png") center center/cover no-repeat;
    height: 120px;
    display: flex;
    position: relative;
    align-items: flex-end;
    border-bottom: 3px solid #1baf5d;
}

 
.cards__column-big .cards__img-block::before {
    content: url("../icon/home.png");
    width: 55px;
    height: 55px;
    border: 3px solid #ffffff;
    background-color: #1baf5d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    bottom: -33px;
    left: 22px;
    position: absolute;
}

.cards__img-block .cards__block-info {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 9px;
    color: #fff;
}
.cards__block-info .cards__firma {
    margin-right: 10px;
}

.cards__column-big .cards__footer {
    display: flex;
    border: 1px solid grey;
    border-top: 0;
    padding: 20px 17px 18px 22px;
}


.cards__footer .cards__review {
    display: flex;
    flex-direction: column;
}

.cards__footer .cards__icon {
    margin-right: 20px;
    margin-top: 30px;
}

.cards__footer .cards__review span {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #566375;
}

.cards__footer .cards__review span:nth-of-type(1) {
    font-size: 16px;
    font-weight: 700;
}


.cards__img-block.cards__img-block_bg {
    background: url("../img/Layer_12.png") center center/cover no-repeat;
    border-bottom: 3px solid #f19e1f;
}

.cards__img-block.cards__img-block_bg::before {
    background-color: #f19e1f;
}


.cards__row:nth-of-type(4) .cards__column:nth-of-type(3) {
    margin-right: 0;
}

.cards__more {
    text-align: center;
    margin-top: 41px;
}

.cards__more .cards__link {
    color: #566375;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    font-weight: 500;
    position: relative
}
.cards__more .cards__link::after {
    content: "";
    position: absolute;
    background: url("../img/arrowright.png");
    width: 14px;
    height: 17px;
    top: 3px;
    right: -23px;
}

.cards__delimeter {
    margin-top: 35px;
}

/*Offer*/
.offer {
    padding-right: 110px;
    padding-left: 110px;
    padding-bottom: 143px;
}

.offer .offer__title {
    color: #566375;
    font-weight: 500;
    line-height: 48px;
}

.offer .offer__subtitle {
    color: #96a6a7;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.offer .offer__advantages {
    display: flex;
    align-items: center;
    margin-top: 71px;
}

.offer__advantages .offer__advantages-item {
    width: 100px;
    height: 100px;
    border: 2px solid grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.offer__advantages .offer__advantages-item:first-child {
    border-color: #1baf5d;
}

.offer__advantages .offer__delimeter {
    width: 53px;
    height: 2px;
    background-color: #e2dee0;
}

.offer__reality {
    padding-top: 38px;
}
.offer__reality .offer__reality-name {
    color: #1baf5d;
    font-size: 24px;
    font-weight: 500;
}

.offer__reality .offer__reality-block {
    display: flex;
    margin-top: 43px;
}

.offer__reality-block .offer__reality-item
{
    width: 300px;
    display: flex;

}
.offer__reality-block .offer__reality-item:first-child {
    margin-right: 56px;
}

.offer__reality-item  .offer__reality-img {
    width: 62px;
    height: 62px;
    background-color: #1db05e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 33px;
}


.offer__reality-descr {
    color: #566375;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/*Footer*/
.footer {
    background: linear-gradient(to top, rgba(0,0,0, 0.7),rgba(0,0,0, 0.7)) , url("../img/bg1.png") center center/cover no-repeat;
    padding-top: 61px;
    padding-bottom: 64px;
}

.footer__subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 57px;
}

.footer__subscribe .footer__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}

.footer__subscribe .footer__send {
    margin-top: 47px;
    width: 492px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer__send .footer__input{
    border: none;
    background: none;
    outline: none;
    margin-left: 69px;
}

.footer__send .footer__input::placeholder {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.footer__send::before {
    content: url("../icon/poshta.png");
    position: absolute;
    left: 33px;
    top: 23px;
}

.footer__button-sub {
    width: 120px;
    height: 50px;
    margin-right: 4px;
    font-size: 14px;
    font-weight: 500;
}

.footer__delimeter {
    background-color:  #e2dee0;
}

.footer__info {
    display: flex;
    margin-top: 42px;
    justify-content: space-between;
    padding-right: 78px;
}



.footer__info .footer__info-item:last-of-type {
    width: 225px;
}



.footer__info .footer__info-item {
    display: flex;
    flex-direction: column;
    width: 105px;
}
.footer__info .footer__info-item .footer__elem {
    margin-bottom: 25px;
}

.footer__info .footer__info-item .footer__elem a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}

.footer__info .footer__info-item .footer__descr {
    color: #c0bebc;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footer__info .footer__info-item .footer__socials {
    display: flex;
    margin-top: 4px;
    align-items: center;
}

.footer__socials .footer__social {
    margin-right: 23px;
}

.footer__info-item   .footer_copyr {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 64px;
}
