.about {
    display: flex;
    background-color: #f2f2f1;
    &__img {
       img {
           display: block;
           max-width: 100%;
           object-fit: cover;
       }
    }
    &__info {
        display: flex;
        flex-direction: column;
        padding: 100px 0px 0px 100px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        flex-wrap: wrap;
        width: 100%;
        max-width: 670px;
    }
    &__column {
        display: flex;
        width: 50%;
        &:nth-child(1n + 3) {
            margin-top: 15px;
        }
    }
    &__box:first-child {
        margin-right: 25px;
    }
    &__opice {
        color: #919191;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 27px;
    }
}

@media (max-width: 1270px) {
    .about {
        flex-direction: column;
        &__info {
          align-items: center;
          justify-content: center;
          padding-bottom: 20px;
        }
        &__img {
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 768px) {
    .about {
        &__row {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__info {
            padding-left: 50px;
            padding-bottom: 50px;
        }
        &__column {
            width: 100%;
            &:nth-child( 1n + 2) {
                margin-top: 25px;
            }
        }
    }
}