.header {
    .web-designer {
        background: url("../img/img.png") center center/cover no-repeat;
        height: 62.5vw;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        &__title {
            color: #ffffff;
            font-size: 40px;
            font-weight: 700;
            line-height: 24px;
            padding: 20px 0;
            text-transform: uppercase;
            border-top: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
        }
        &__button {
            margin-top: 50px;
            transition: background-color .5s;
            &:hover {
                background-color: $green;
            }
        }
    }
}

@media (max-width: 576px) {
    .header {
        .web-designer {
            &__title {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 365px) {
    .header {
        .web-designer {
            &__title {
                font-size: 20px;
            }
            &__button {
               width: 100px;
               height: 50px;
               font-size: 12px;
        }
    }
 }
}