.contact-block {
    background-color: #252e30;
    padding: 100px 0;
    .contact {
        display: flex;
        justify-content: space-between;
        &__column {
            width: 48%;
            &:last-child {
                margin-top: 45px;
            }
        }
        &__text {
            color: #919191;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            margin-top: 50px;
            span {
                color: #ffffff;
                margin-right: 40px;
            }
            &:last-child {
                margin-top: 20px;
            }
        }
        .form {
            display: flex;
            flex-direction: column;
            &__items {
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
                width: 100%;
            }
            &__button {
                transition: transform .5s;
                &:hover {
                    transform: scale(1.1);
                }
            }
            &__label {
                color: #919191;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 19px;
                span {
                    color: #ffffff;
                }
            }
            &__input {
                background-color: #4b5456;
                height: 56px;
                border: 0;
                outline: none;
                color: #ffffff;
            }    
            &__txtarea {
                height: 279px;
                width: 100%;
                border: 0;
                outline: none;
                background-color: #4b5456;
                resize: none;
                color: #ffffff;
            }
            
        }
    }
}

@media (max-width: 1200px) {
    .contact-block {
        padding: 100px 15px;
    }
}

@media (max-width: 768px) {
    .contact-block {
        .contact {
            flex-direction: column;
            align-items: center;
            &__column {
                width: 100%;
            }
            .form {
                align-items: center;
            }
        }
    }
}