.copyraited  {
    padding: 51px 0 60px 0;
    background-color: #191f21;
    display: flex;
    justify-content: center;
    &__text {
        color: #4b5456;
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
        text-transform: uppercase;
    }
    &__items {
        .social-buttons {
            margin-top: 31px;
            a {
            display: inline-flex;
            font-size: 20px;
            text-decoration: none;
            width: 34px;
            height: 34px;
            color: #191f21;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            position: relative;
            i {
                transition: 0.3s ease-in; 
                z-index: 2;
            }
            &::before {
                content: "";
                position: absolute;
                width: 34px;
                height: 34px;
                background: linear-gradient(45deg,#4b5456,#4b5456);
                border-radius: 50%;
                transition: 0.3s ease-in;
            }
            &:hover {
                &::before {
                    transform: scale(0);
                }
                i {
                    background: linear-gradient(45deg,#ffffff,#ffffff);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transform: scale(1.7); 
                }
            }
            }
    }
}
}

@media (max-width: 400px) {
    .copyraited {
        padding: 51px 15px 60px 15px;
        &__text {
            font-size: 12px;
        }
        &__items {
            .social-buttons {
                a {
                    width: 30px;
                    height: 30px;
                    margin: 0;
                    margin-right: 5px;
                    &::before {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}