.descr {
    &__text {
        color: #919191;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 48px;
        &_center {
            text-align: center;
        }
    }
}