.resume {
    background-color: #f2f2f1;
    padding: 100px 0 120px 0;
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_button {
        margin-top: 46px;
    }
}

@media (max-width: 992px) {
    .resume {
        padding: 100px 15px 120px 15px;
    }
}