* {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
@import "base/variables";
@import "base/title";
@import "base/subtitle";
@import "base/button";
@import "blocks/block-slider";
@import "blocks/main-nav";
@import "blocks/values";
@import "blocks/about";
@import "blocks/humburger";
@import "blocks/skills";
@import "blocks/descr";
@import "blocks/diploma";
@import "blocks/EducationExperience";
@import "blocks/resume";
@import "blocks/education";
@import "blocks/experience";