* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.container {
    width: 1270px;
    margin: 0 auto;
}

.header__nav {
    padding-top: 29px;
    padding-bottom: 28px;
}

.header__list {
    display: flex;
    list-style: none;
}

.header__list  .header__item a {
    margin-right: 30px;
    color: #949494;
}

.main {
    margin-top: 30px;
}

.title {
    text-align: center;
    color: #5b5b5b;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
}

/*Section best-recipe*/

.best-recipe {
    display: flex;
    flex-direction: column;
}

.best-recip__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}



.best-recipe  .best-recipe__block {
    width: 623px;
    height: 308px;
    display: flex;
    margin-right: 10px;
    margin-bottom: 19px;
}

.best-recipe  .best-recipe__block .best-recipe__photo {
    position: relative;
    width: 306px;
    height: 308px;
}

.best-recipe__photo .best-recipe__name {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
}

.best-recipe__name .best-recipe__nickname {
    margin-left: 10px;
    margin-top: 5px;
    color: #bcbcbc;
    font-size: 18px;
    font-weight: 400;
}

.best-recipe__descr {
    background-color: #ffffff;
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 317px;
}

.best-recipe__descr .best-recipe__title {
    color: #3d3d3d;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.55px;
    margin-left: 20px;
}
.center {
    display: block;
    text-align: center;
}

.best-recipe__descr .best-recipe__block-info {
    display: flex;
    margin-top: 5px;
    margin-bottom: 18px;
    margin-left: 10px;
}

.best-recipe__block-info .best-recipe__info {
    width: 94px;
    height: 33px;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
    margin-right: 5px;
    display: flex;
    color: #b5904e;
}

.best-recipe__info .best-recipe__elem {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
}
.best-recipe__info .best-recipe__span {
    display: block;
    width: 48px;
    height: 10px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 6px;
    margin-top: 8px;
}

.best-recipe__descr .best-recipe__content {
    color: #5b5b5b;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.73px;
    letter-spacing: 0.12px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.best-recipe__content.best-recipe__content_padd {
    padding-bottom: 48px;
}


.best-recipe__descr .best-recipe__footer {
    border-top: 2px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
}

.best-recipe__footer .best-recipe__likes , .best-recipe__footer .best-recipe__socials  {
    display: flex;
}

.best-recipe__likes .best-recipe__number {
    color: #9b9b9b;
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
    margin-top: 3px; 
}

.best-recipe__socials .best-recipe__social {
    margin-right: 23px;
}

.best-recipe__delimeter {
    margin-top: 45px;
}


/*Section hot-selection*/

.hot-selection {
    margin-top: 20px;
    padding-bottom: 51px;
}

.hot-selection .hot-selection__block {
    display: flex;
    margin-top: 45px; 
}

.hot-selection__block .hot-selection__item {
    margin-right: 11px;
    position: relative;
}

.hot-selection__item  .hot-selection__name {
    position: absolute;
    bottom: 44px;
    left: 70px;
    text-align: center;
    color: #f0f0f0;
    font-size: 34px;
    font-weight: 400;
    line-height: 41.33px;
    text-transform: uppercase;
}

.hot-selection__name.hot-selection__name_center {
    left: 45px;
}


/*footer*/

.footer {
    background-color: #252627;
    padding-bottom: 28px;
    padding-top: 29px;
    padding-left: 55px;
}

.footer .footer__links {
    display: flex;
    list-style: none;
}

.footer__link a {
    margin-right: 30px;
    color: #949494;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}