* {
    margin: 0;
    padding: 0;
    font-family: consolas;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f8f8f8;
}

.inputBox {
    position: relative;
    width: 450px;
}

.inputBox h2 {
    font-size: 28px;
    color: #333;
}

.inputBox input {
    position: relative;
    height: 60px;
    border: none;
    width: 100%;
    background: transparent;
    margin: 15px 0 20px;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #333;
    box-shadow:  -4px -4px 10px rgba(225, 225,225, 1),
                inset 4px 4px 10px rgba(0, 0,0, 0.05),
                inset -4px -4px 10px rgba(225, 225,225, 1),
                4px 4px 10px rgba(0, 0,0, 0.05);
}

.inputBox input::placeholder {
    letter-spacing: 0px;
}

.inputBox  #btn {
    position: relative;
    cursor: pointer;
    color: #fff;
    background-color: #333;
    font-size: 24px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
}

.inputBox  #btn:active {
    background-color: #9c279c;
}
